<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mbot_control)/config/mbot_control.yaml" command="load"/>

  <!-- load the controllers -->>
  <node name="controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false"
        output="screen" 
        ns="/mbot" 
        args="joint_state_controller mobile_base_controller">
  </node>
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher"
        respawn="false" 
        output="screen">
    <remap from="/joint_states" to="/mbot/joint_states" />
  </node>

  <!-- add odom noise -->
  <node name="odom_noise"
        pkg="mbot_odom_noise"
        type="odom_noise.py">
        <rosparam>
          alpha1: 0.050
          alpha2: 0.087
          alpha3: 0.050
          alpha4: 0.010
        </rosparam>
  </node>

</launch>