<launch>
  <arg name="cfg_path" default="$(find connect_qt_gui_and_mbot)/config/basic_config.yaml" />
  <node name="gui_and_mbot_connector" 
        pkg="connect_qt_gui_and_mbot"
        type="gui_and_mbot_connector.py"
        args="/home/sopper08/sopProjects/MASTERTHESIS/mbot/src/connect_qt_gui_and_mbot/config/basic_config.yaml"
        output="screen" />
</launch>